<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/c46609e39d.js" crossorigin="anonymous"></script>

  <title>HOME</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="login.css">
</head>

<body>
  <div class="div">
    <div class="aside">
      <img src="/image.jpg">
      <label class="label-img">Ronnie <i class="fas fa-angle-down"></i></label>
      <hr class="hr">
      <span>Menu</span>
      <ul>
        <li>
          <i class="fas fa-house-chimney"></i>
          <span>Discover</span>
        </li>
        <li>
          <i class="fa fa-line-chart"></i>
          <span>Trending</span>
        </li>
        <li>
          <i class="fas fa-house-chimney"></i>
          <span>Streaming</span>
        </li>
        <li>
          <i class="fas fa-house-chimney"></i>
          <span>Playlist</span>
        </li>
        <li>
          <i class="fas fa-house-chimney"></i>
          <span>Bookmark</span>
        </li>
      </ul>
      <hr class="hr hr2">
      <span>Category</span>
      <ul>
        <li>
          <i class="fas fa-plus"></i>
          <span>Add music</span>
        </li>
        <li>
          <i class="fa-solid fa-user"></i>
          <span>View Profile</span>
        </li>
        <li>
          <i class="fa fa-sign-out"></i>
          <span>Logout</span>
        </li>
      </ul>
      <hr class="hr hr2">
    </div>
    <div class="header">
      <div class="head">
        <h1>Discover</h1>
        <span>RECENTLY PLAYED</span>
       <div class="box">
        <div class="recent">
          <img src="/image-2.jpg">
          <p>
            Procastination? Is it really bad?
          </p>
          <span>John Smith</span>
        </div>
        <div class="recent">
          <img src="/image-2.jpg">
          <p>
            Procastination? Is it really bad?
          </p>
          <span>John Smith</span>
        </div>
        <div class="recent">
          <img src="/image-2.jpg">
          <p>
            Procastination? Is it really bad?
          </p>
          <span>John Smith</span>
        </div>
        <div class="recent view-more">
          <div>
            <i class="fa fa-folder-open"></i>
          </div>
          <p>
            View recently played
          </p>
        </div>
      </div>
     </div>
    </div>
    <div class="content">
    <h1>Add music</h1>
    <hr/>
    <form action="" method="POST">
      <label for="name">
        Name of the music&nbsp;*
      </label>
      <br />
      <input type="text" name="name" placeholder="name of the music" required>
      <br />
      <label for="name">
        Artist&nbsp;*
      </label>
      <br />
      <input type="text" name="name" placeholder="name of the music" required>
      <br />
      <label for="name">
        Description&nbsp;*
      </label>
      <br />
      <input type="text" name="name" placeholder="Artist" required>
      <br />
      <label for="name">
        Lyrics
      </label>
      <br />
      <input type="text" name="name" placeholder="lyrics optional">
      <br />
      <label for="name">
        Cover Photo&nbsp;*
      </label>

      <input type="file" name="name" placeholder="name of the music" accept="image/*">
      <label for="name">
        Music&nbsp;*
      </label>

      <input type="file" name="name" placeholder="name of the music" accept="audio/*">
      <button type="submit">Submit</button>
    </form>
    </div>
    <div class="main">
      <span>TOP PODCASTER</span>
      <hr>
      <div>
        <img src="/image.jpg">
        <i class="fa fa-check-circle"></i>
        <ul>
          <li class="name">Tony Smart</li>
          <li>120,000 followers</li>
        </ul>
      </div>
      <div>
        <img src="/image.jpg">
        <i class="fa fa-check-circle"></i>
        <ul>
          <li class="name">Tony Smart</li>
          <li>120,000 followers</li>
        </ul>
      </div>
      <div>
        <img src="/image.jpg">
        <i class="fa fa-check-circle"></i>
        <ul>
          <li class="name">Tony Smart</li>
          <li>120,000 followers</li>
        </ul>
      </div>
      <div>
        <img src="/image.jpg">
        <i class="fa fa-check-circle"></i>
        <ul>
          <li class="name">Tony Smart</li>
          <li>120,000 followers</li>
        </ul>
      </div>
      <div>
        <img src="/image.jpg">
        <i class="fa fa-check-circle"></i>
        <ul>
          <li class="name">Tony Smart</li>
          <li>120,000 followers</li>
        </ul>
      </div>
 
    </div>
    <div class="footer">
      <img src="image.jpg">
      <ul>
        <li class="song">Beautiful Mindset in our heart</li>
        <li>John Doe</li>
      </ul>
      <i class="fa backward fa-step-backward"></i>
      <i onclick="myff()" id="play" class="fa play fa-play"></i>
      <i class="fa forward fa-step-forward"></i>
      <span id="hr">00</span>:<span id="min">00</span>
      <input value="0"  oninput="audio.currentTime = this.value;" type="range" class="slider">
      <span id="sec">00</span>:<span id="milli">00</span>
    </div>
  </div>
  <script>
    var audio = new Audio("/Peterson-Okopi-Walk-Away-ej.mp3");
  myff = () =>{
    setInterval(() => {
      var timeRemaining = audio.duration;
      var seconds = Math.floor(timeRemaining % 60);
      var hr = Math.floor(audio.duration/60);
      seconds = seconds < 10 ? "0" + seconds : seconds;
      hr = hr < 10 ? "0" + hr : hr;
      dur = audio.duration;
      document.getElementById("hr").innerHTML = hr;
      document.getElementById("min").innerHTML = seconds;
     var timeRemaining = audio.duration - audio.currentTime;
     var sec = Math.floor(timeRemaining / 60)
     var milli = Math.floor(timeRemaining % 60);
     if(sec == 0 && milli == 0){
        audio.play();
      }
     sec = sec < 10 ? "0" + sec : sec;
     milli = milli < 10 ? "0" + milli : milli;
     document.getElementById("sec").innerHTML=sec;
     document.getElementById("milli").innerHTML=milli;
  },1000)
  audio.play();
  var change = document.getElementById("play");
  if(change.getAttribute("class") == "fa play fa-play"){
  change.setAttribute("class", "fas fa-pause fa play")
  }
  else{
  change.setAttribute("class", "fa play fa-play");
  audio.pause();
  }
  var progress = document.getElementsByTagName('input')[0];
  progress.max = audio.duration;
  setInterval(() => {
  progress.value = audio.currentTime;
  },1)
}
  </script>
</body>
</html>
