<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
   <!--<script src="https://kit.fontawesome.com/c46609e39d.js" crossorigin="anonymous"></script>-->

  <title>HOME</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="style2.css">

</head>

<body>
  <div class="body">
    <h1>Add music</h1>
    <form>
    <label for="name">
      Name of the music&nbsp;*
    </label>
    <br/>
    <input type="text" name="name" placeholder="name of the music" required>
    <label for="name">
      Artist&nbsp;*
    </label>
    <br />
    <input type="text" name="name" placeholder="name of the music" required>
    <label for="name">
      Description&nbsp;*
    </label>
    <br />
    <input type="text" name="name" placeholder="Artist" required>
    <label for="name">
      Lyrics
    </label>
    <br />
    <input type="text" name="name" placeholder="lyrics optional" >
    <label for="name">
      Cover Photo&nbsp;*
    </label>
    
    <input type="file" name="name" placeholder="name of the music" accept="image/*">
    <label for="name">
      Music&nbsp;*
    </label>
    
    <input type="file" name="name" placeholder="name of the music" accept="audio/*">
    <button type="submit">Submit</button>
     </form>
  </div>
</body>

</html>
